body {
  background-color: #f4f2ee;
}

.ConnectButton {
  border: 1.5px solid !important;
}

.ConnectButton:hover {
  background-color: rgba(200, 207, 212, 0.5) !important;
  border-color: #000000 !important;

  color: black !important;
}

.ConnectButton {
  position: relative;

  overflow: hidden;
}

.ConnectButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: inherit;
  z-index: 1;
  transition: all 0.1s ease;
}

.ConnectButton:hover::before {
  color: black !important;
  background-color: rgba(235, 235, 235, 0.3) !important;
  border: 1.3px solid black;
}

#main-section-profile {
  background-color: white;
}

.analytics {
  background-color: white;
}

.ShowButton {
  background-color: white !important;
}
.ShowButton:hover {
  background-color: rgba(200, 207, 212, 0.5) !important;
}

.Profile:hover {
  color: #0d6efd !important;
  text-decoration: underline !important;
}

.ExperienceIcon:hover {
  background-color: rgba(220, 223, 224, 0.4) !important;
}

.Experience:hover {
  color: #0d6efd !important;
  text-decoration: underline !important;
}
/* NavBar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.navbar-brand img {
  width: 35px;
  height: 35px;
}

/* searchbar*/
.form-control {
  border-radius: 20px;
  background-color: #eef3f8;
  border: none;
  padding: 0.5rem 1rem;
  width: 280px;
}

/* Icons */
.navbar-nav .nav-link {
  color: #666;
  text-align: center;
  font-size: 0.9rem;
}

.navbar-nav .nav-link:hover {
  color: #0a66c2;
}

.navbar-nav .nav-link i {
  font-size: 1.2rem;
}

/* red badge*/
.badge {
  font-size: 0.7rem;
  position: absolute;
  top: 5px;
  right: 0;
  background-color: #f00;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
}

/* PROFILE SECTION */
#main-section-profile {
  max-width: 100%;
  padding: 0;
  border: 1px solid rgb(192, 190, 190);
  object-fit: contain;
}

/* IMAGES */
#background_image {
  max-height: 196px;
  width: 100%;
}

#profile_image {
  min-width: 130px;
  min-height: 130px;
  max-width: 130px;
  max-height: 130px;
  margin-top: -65px;
}
.plus-circle-icon {
  margin-left: -40px;
}
#cover-button {
  right: 15px;
  top: 15px;
  background-color: #f7c477;
}

#icons {
  width: 30px;
  height: 30px;
  background-color: #e1dad1;
}
.text-hover:hover {
  color: rgb(49, 76, 228) !important;
  cursor: pointer;
}
#button-hover:hover {
  color: rgb(6, 25, 192) !important;
}
.slider-container {
  max-width: 780px;
  width: 100%;
}
slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  color: gray;
  font-size: 2rem;
}
#edit-profile-area {
  background-color: #dde7f1;
  border-radius: 15px;
  max-width: 370px;
}
/* MEDIA QUERY ON PROFILE SECTION */
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .slider-container {
    max-width: 590px;
    width: 100%;
  }
  #edit-profile-area {
    border-radius: 15px;
    max-width: 290px;
  }
}
@media screen and (max-width: 700px) {
  .slider-container {
    max-width: 390px;
    width: 100%;
  }
  #edit-profile-area {
    border-radius: 15px;
    max-width: 370px;
  }
}
