body {
  background-color: #f4f2ee;
}

.ConnectButton {
  border: 1.5px solid !important;
  box-sizing: border-box !important;
}

.ConnectButton:hover {
  background-color: rgba(200, 207, 212, 0.5) !important;
  border-color: #000000 !important;
  /* border-width: 2px !important; */
  box-sizing: border-box !important;
  color: black !important;
}
.ShowButton:hover {
  background-color: rgba(200, 207, 212, 0.3) !important;
}

.Profile:hover {
  color: #0d6efd !important;
  text-decoration: underline !important;
}

.ExperienceIcon:hover {
  background-color: rgba(220, 223, 224, 0.4) !important;
}

.Experience:hover {
  color: #0d6efd !important;
  text-decoration: underline !important;
}
